*{
    margin: 0;
    padding: 0;
    font-family:'roboto', sans-serif;
    
}
/** Cabecalho ***/
header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

header img {
    width: 300px;
    align-self: center;
}
header > h1{
    margin: -10px;
    margin-bottom: 20px;
    color: #002046;
    align-self: center;
    font-family: 'Marvel', sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    
}

/** main ***/
 main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
 }

 .titulo-categoria{
    border-right: 5px solid #002046;
    border-bottom: 5px solid #002046;
    margin:15px 0;
 }
 .titulo-categoria::after{
    content: " ";
    width:50px;
    height: 90px;
    background-color: #002046;
    border-bottom: 1px solid #002046;
 }

 .conteudos{
    display: flex;
    flex-direction: column;
    
 }


 /*** Buscador ***/
 .buscador{    
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
 }

 .buscador form input{
    width: 40%;
    height:37px;
    padding: 0 10px;;
    position: absolute;
    right: 0;
    font-size:1.6em;
    
    
    
 }

 #search-icon{
    position: absolute;
    font-size: 25px;
    right:10px;
    top:8px;
    font-weight: 800;
 }

 /** praias ***/
.praias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

/*** Praias conteudos  ***/

.praia{
    width: 32.5%;
    height:250px ;
    margin-bottom:1.5%;    
    object-fit: cover; 
    position: relative;
    
}

.praia img{
    width: 100%;
    height:250px ;
    object-fit: cover; 
}

.subititle{
    top:0;
    background:rgba(16, 1, 58, 0.5);
    position: absolute;
    padding: 10px;
    display: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    justify-content: center;
    
}

.subititle {
    text-transform: uppercase;
    color:aliceblue;
    font-size: 2em;
    text-align: center;
    
}




.praia:hover .subititle{
    cursor:pointer;
    visibility: visible;
    transition: 5s;
    
}

/*** Roda pé ***/
footer{
    color:#fff;
    background-color: #002046;
    padding-top: 20px;
}
.info{
    margin: 0 auto;
    margin:20px;
    max-width: 1200px;
    
    
}

.credits{
    background-color: #000;
    margin:0 auto;
}
.credits p{
    text-align:center;  
    padding:5px;
}


/** Responsivo **/

@media screen and (max-width:790px){
    header > h1{
        font-size: 3em;
    }
   
   
    .praia{
        width: 49%;
        margin-bottom:10px;
    }

    

    .buscador{
        width: 99%;
       
    }


    .buscador form input{
        width: 95%; 
        
     }



}




@media screen and (max-width:600px){
    .praias{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
    }

   

    .praia{
        width: 100%;
        
    }
}